<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="FusionCharts.Visualization" version="1.0.9" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
</packages>